.navbar{
    width: 100%;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}

.logo{
    font-size: 25px;
    font-weight: 600;
    color: #222222;
}

.searchBtn{
    font-size: 20px;
    cursor: pointer;
}