.container{
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 20px;
}

.cover{
    width: 100%;
    flex: 2;
}

.cover img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
    transition: 0.2s;
}

.cover img:hover{
    filter: brightness(0.7);
}

.content{
    flex: 3;
    display: flex;
    flex-flow: column;
    gap: 13px;
}

.title{
    color: #333333;
    font-size: 18px;
    transition: 0.2s;
}

.title:hover{
    color: #555555;
}

.date{
    color: #888888;
    font-weight: 600;
    font-size: 14px;
}

.desc{
    font-size: 15px;
    font-weight: 500;
    color: #555555;
}

.btn{
    padding: 9px 11px;
    background-color: #222222;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    transition: 0.2s;
}

.btn:hover{
    background-color: #555555;
}

@media screen and (max-width: 600px){
    .container{
        flex-flow: column;
    }

    .title{
        font-size: 16px;
    }
}


